<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    <div class="sidebar-brand">
        <a href="{% url 'home' %}" class="brand-link">
        <img src="{% static 'images/webSysLogo-3dx.png' %}" alt="webSysERP Logo" class="brand-image opacity-75 shadow" />
        <span class="brand-text fw-light">webSysERP</span>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <nav class="mt-2">
        <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
            <a href="#" class="nav-link"><i class="nav-icon bi bi-speedometer"></i><p>Dashboard</p></a>
            </li>
            <!-- Ejemplo: Menú RRHH -->
            <li class="nav-item">
            <a href="#" class="nav-link"><i class="nav-icon bi bi-person-fill"></i><p>RR.HH.<i class="nav-arrow bi bi-chevron-right"></i></p></a>
            <ul class="nav nav-treeview">
                <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon bi bi-circle"></i><p>Registro de personal</p></a></li>
            </ul>
            </li>
        </ul>
        </nav>
    </div>
</aside>